####################
# Changes patterns #
####################

.code-backstage-patterns: &code-backstage-patterns
  - ".gitlab-ci.yml"
  - ".golangci.yml"
  - ".gitlab/ci/**/*"
  - ".gitattributes"
  - "Makefile*"
  - "**/*.go"
  - "{ci,scripts,tests}/**/*"
  - "**/testdata/**/*"
  - "go.*"
  - "VERSION"

##############
# Conditions #
##############

.if-default-branch: &if-default-branch
  if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

.if-stable-branch: &if-stable-branch
  if: $CI_COMMIT_REF_NAME =~ /^[0-9]+-[0-9]+-stable$/

.if-stable-release-tag: &if-stable-release-tag
  if: $CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/

.if-release-candidate-tag: &if-release-candidate-tag
  if: $CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+-rc[0-9]+/

.if-release-tag: &if-release-tag
  if: $CI_COMMIT_REF_NAME =~ /^v[0-9]+\.[0-9]+\.[0-9]+(-rc[0-9]+)?$/

.if-merge-request-pipeline: &if-merge-request-pipeline
  if: $CI_PIPELINE_SOURCE == "merge_request_event"

########################
# Default branch rules #
########################

.rules:default-branch-only:no_docs:
  rules:
    - <<: *if-default-branch
      changes: *code-backstage-patterns

.rules:default-branch-only:no_docs:always:
  rules:
    - <<: *if-default-branch
      changes: *code-backstage-patterns
      when: always

#######################
# Merge Request rules #
#######################

.rules:merge_request_pipelines:
  rules:
    - <<: *if-merge-request-pipeline

.rules:merge_request_or_release:
  rules:
    - <<: *if-merge-request-pipeline
    - <<: *if-default-branch
    - <<: *if-stable-branch
    - <<: *if-release-tag

#################
# Release rules #
#################

.rules:upload:
  rules:
    - <<: *if-default-branch
    - <<: *if-stable-branch
    - <<: *if-release-candidate-tag
    - <<: *if-stable-release-tag

.rules:release:all:
  rules:
    - <<: *if-release-candidate-tag
    - <<: *if-stable-release-tag
