pre-commit:
  stage: test
  image: python:3.13
  extends:
    - .rules:merge_request_or_release
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
    PRE_COMMIT_HOME: $CI_PROJECT_DIR/.cache/pre-commit
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.cache/golangci-lint
  cache:
    - key: pre-commit-pip
      paths: [$PIP_CACHE_DIR]
    - key:
        prefix: pre-commit-home
        files: [.pre-commit-config.yaml]
      paths: [$PRE_COMMIT_HOME]
    - key: golangci-lint
      paths: [$GOLANGCI_LINT_CACHE]
  script:
    - pip install pre-commit
    - pre-commit run --all --color=always --show-diff-on-failure

test:
  stage: test

  id_tokens:
    TPS_ID_TOKEN:
      aud: tps

  image: golang:$GO_VERSION
  extends:
    - .rules:merge_request_or_release
    - .go-cache
  before_script:
    - export HCLOUD_TOKEN="$(hack/get-tmp-hcloud-token.sh)"
  script:
    - go mod download
    - go test -v -timeout=30m -coverprofile=coverage.txt -covermode count ./...
    - go run github.com/boumenot/gocover-cobertura -ignore-gen-files < coverage.txt > coverage.xml
  artifacts:
    paths:
      - coverage.txt
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

coverage:
  stage: test

  image: python:3.13
  extends:
    - .rules:merge_request_or_release
  needs:
    - test
  before_script:
    - curl -Os https://cli.codecov.io/latest/linux/codecov
    - curl -Os https://cli.codecov.io/latest/linux/codecov.SHA256SUM
    - shasum -a 256 -c codecov.SHA256SUM
    - chmod +x codecov
  script:
    - ./codecov upload-process
